/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */

/* Typography Rules */
.type {
  font-family: "Helvetica", sans-serif;
}
.kaboom {
  font-family: "Savate", sans-serif;
  font-size: 100px;
}
.bamm {
  font-family: "Combat", sans-serif;
  font-size: 300px;
}
.Lack {
  font-family: "Lack", sans-serif;
}
.re-txt {
  overflow: hidden;
}
.caption {
  position: absolute;
  left: 8%;
}

/* Header Link Style */
.a {
  font-family: "Lack";
  text-decoration: none;
  color: black;
}
.a:hover {
  font-family: "Lack Line";
}
.a2 {
  font-family: "Lack";
  text-decoration: none;
  color: gold;
}
.a2:hover {
  font-family: "Lack Line";
}

/* Color Rules */
.bg--purple {
  background-color: #350848;
}
.bg--black {
  background-color: black;
}
.bg--violet {
  background-color: #7E03A3;
}
.bg--pink {
  background-color: #E80CA9;
}
.bg--blue {
  background-color: #694DE8;
}
.bg--orange {
  background-color: #FFAA19;
}
.bg--green {
  background-color: #CCC908;
}
.bg--dark-green {
  background-color: #26873D;
}
.bg--dark-pink {
  background-color: #D93882;
}

/* Layout Rules */
.frame {
  overflow-y: hidden;
}
.nav-grid {
  font-family: "Lack", sans-serif;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 30px;
}
.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid gold;
}

/* Animation KABOOM */
@keyframes KABOOMUP {
  0% {top: -200px;}
  100% {top: 0px;}
}
.kaboom {
  position: relative;
    animation-name: KABOOMUP;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes NEXTARW {
  0% {left: 0px;}
  100% {left: 20px;}
}
.next {
  position: relative;
  display: inline;
  animation-name: NEXTARW;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
